$primary: #D83C26;

body {
    margin: 0;
    font-family:  Arial, Helvetica, sans-serif; // Brandon Text maybe als font
  }

* {
    box-sizing: border-box;
}

.wrapper-large {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 1440px;
    margin: 0 auto;
}

// === Navbar === //

#logo-long {
    width: 12%;
    height: auto;
    position: fixed;
    top: 14px;
    left: 30px;
    float: left;
}

#logo-short {
    width: 7%;
    height: auto;
    position: fixed;
    top: 12px;
    right: 22px;
    float: left;
}

#header-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: relative;
    position: fixed;
    top: 0;
    overflow: hidden;
}

#destop-nav {
    justify-content: center;
    align-items: center;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    width: 45%;
    background-color: #000000;
    height: 4.5rem;
    padding-top: 1rem;
    position: relative;

    a {
        text-decoration: none;
    }
}

.nav-item {
    padding: 0.7rem;
    white-space: nowrap;
    color: #a4a4a5;

}

.nav-item:hover {
   border-bottom: 2px solid $primary;
   cursor: pointer;
   animation-name: navbar-item-color;
   animation: navbar-item-color 0.5s forwards;

}

@keyframes navbar-item-color {
    from {color: #a4a4a5;}
    to {color: #fff;}
}


#nav-hr-div {
    width: 100%;
    background-color: $primary;
    padding: 0.07rem;
    margin: 0;
}

#header-img {
    margin-top: 4.5rem;
}

// === Intro-Text ==  //

#intro-headline {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
}